# Ignore docs files
install.sh
_gh_pages
_site
.ruby-version
subl/User/WakaTime.sublime-settings
subl/User/Package\ Control.cache
subl/User/Package\ Control.last-run
subl/User/Package\ Control.merged-ca-bundle
subl/User/Package\ Control.system-ca-bundle
subl/User/Package\ Control.user-ca-bundle
alfred/Alfred.alfredpreferences/workflows/user.workflow.E71C4FEC-21D6-471F-A4D9-25DFA1D59E02/.auth_token
node_modules
node_modules/

Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.auth_token

# Atom sync
/.atom/blob-store/
/.atom/compile-cache/
/.atom/packages/
/.atom/storage/

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
bin/shell/.DS_Store
bin/subl/User/WakaTime.sublime-settings
01524fae79697630d0454ba3fabd9414.info
bin/subl/User/Package Control.system-ca-bundle
Package Control.system-ca-bundle
bin/screensaver/.DS_Store
Package Control.user-ca-bundle

# Alfred Workflow - Spotify
user.workflow.C917DEDA-0A77-4FBD-A10D-AA8AC69414FB