"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d6aaa119-f924-4b19-aa17-5b87127e4843"
  "atom-material-ui":
    colors:
      predefinedColor: "Teal"
    fonts: {}
    tabs:
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "~/Dropbox/github/"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "0a857fba-ac47-c69f-700e-ab7463843b84"
  "hyperlink-hyperclick": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    autocompleteSuggestionsFromValue: true
  "tree-view":
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1489948786
  welcome:
    showOnStartup: false
