packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "autocomplete-paths"
  "file-icons"
  "git-plus"
  "language-markdown"
  "linkify"
  "markdown-writer"
  "marked"
  "minimap"
  "multi-cursor"
  "package-sync"
  "pigments"
  "sort-lines"
  "sublime-block-comment"
  "Sublime-Style-Column-Selection"
  "tag"
  "terminal-plus"
  "text-manipulation"
  "tidy-markdown"
  "wakatime"
  "wordcount"
]
